@font-face {
  font-family: "grolds";
  src: url(/fonts/Grold-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "grolds";
}

.topbar {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 20px 0.1px #4e4e50;
          box-shadow: 0 0 20px 0.1px #4e4e50;
  background-color: #eae7dc;
  position: fixed;
  top: 0;
  left: 0;
}

.topbar .logo img {
  width: 200px;
  height: 56px;
  padding-left: 20px;
  cursor: pointer;
}

.topbar .topbar-list {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar .topbar-list .hamburger {
  display: none;
}

.topbar .topbar-list p {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #4e4e50;
}

.topbar .topbar-list button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 13px;
  border: none;
  background-color: #e85a4f;
  outline: none;
  color: white;
  font-size: 16px;
}

.topbar .topbar-list button:hover {
  background-color: white;
  color: #eae7dc;
  border: 1px solid #eae7dc;
}

.topbar .topbar-list .list-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 25px;
}

.topbar .topbar-list .list-one i {
  font-size: 8px;
}

.topbar .topbar-list .fa-whatsapp {
  color: #37d437;
  font-size: 20px;
}

.topbar .topbar-list .fa-phone {
  color: #0808bb;
  font-size: 17px;
}

.topbar .topbar-list p:hover {
  color: #e85a4f;
}

.topbar .sub1-menu {
  width: 220px;
  position: absolute;
  top: 70px;
  left: 450px;
  background-color: #4e4e50;
  border: 1px solid #e9e7e7;
  display: none;
}

.topbar .sub1-menu a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  padding-left: 1em;
  color: #eae7dc;
}

.topbar .sub1-menu a:hover {
  background-color: #eae7dc;
  color: white;
}

.topbar p:hover .sub1-menu {
  display: block;
}

.search-bar {
  width: 650px;
  margin: auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border-radius: 13px;
  border: 1px solid #d8c3a5;
}

.search-bar input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 200;
}

.search-bar i {
  padding: 10px;
  color: #e85a4f;
  cursor: pointer;
}

h2 {
  padding: 1em;
  text-align: center;
  font-size: 25px;
  color: #e85a4f;
}

.hero-list {
  width: 650px;
  margin: auto;
}

.hero-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-list ul li p {
  cursor: pointer;
  background-color: #4e4e50;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  margin: 4px 7px;
  padding: 6px;
  color: #eae7dc;
}

.hero-list ul li p:hover {
  background: #e85a4f;
  color: white;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.blog .corpbiz {
  background-color: #4e4e50;
  width: 400px;
  -webkit-box-shadow: 0 2px 10px 0 #4e4e50;
          box-shadow: 0 2px 10px 0 #4e4e50;
  border-radius: 13px;
}

.blog .corpbiz h1 {
  padding: 1em;
  font-size: 35px;
  color: #e85a4f;
}

.blog .corpbiz p {
  padding: 20px;
  font-size: 18px;
  line-height: 1.2em;
  color: #eae7dc;
}

.blog .blog-box1 {
  width: 280px;
  -webkit-animation: pulse 1.5s ease-out infinite;
          animation: pulse 1.5s ease-out infinite;
  -webkit-box-shadow: 0 2px 10px 0 #d8c3a5;
          box-shadow: 0 2px 10px 0 #d8c3a5;
  border-radius: 13px;
  background-color: #eae7dc;
  z-index: -200;
}

@-webkit-keyframes pulse {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes pulse {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.blog .blog-box1 h1 {
  padding: 1em;
  font-size: 30px;
  color: #4e4e50;
  text-align: center;
}

.blog .blog-box1 p {
  padding: 20px;
  font-size: 18px;
  line-height: 1.2em;
  color: #e85a4f;
}

.faith h1 {
  font-size: 43px;
  padding: 2em;
  color: #4e4e50;
}

.faith span {
  color: #e85a4f;
  font-family: 'Kaushan Script', cursive;
}

.iframe-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.iframe-container .text-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iframe-container .text-list .vertical-text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 12px;
  font-size: 25px;
  padding: 2em;
  color: #eae7dc;
}

.iframe-container .text-list .working-process {
  padding: 3em;
}

.iframe-container .text-list .working-process h3 {
  font-size: 45px;
  margin-bottom: 30px;
  color: #e85a4f;
}

.iframe-container .text-list .working-process p {
  font-size: 19px;
  font-weight: 200;
  line-height: 1em;
  color: #4e4e50;
}

.iframe-container .text-list .iframe iframe {
  width: 100%;
  height: 100%;
}

.service-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #e85a4f;
  padding: 2em;
}

.service-container .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-container .service-list .service-box a {
  margin-bottom: 7px;
  border-radius: 10px;
  display: block;
  background-color: #4e4e50;
  font-size: 20px;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.service-container .service-list .service-box a:hover {
  background-color: #eae7dc;
  color: #4e4e50;
}

.service-container .service-list .text-ver {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 25px;
  letter-spacing: 12px;
  color: white;
  padding: 1em;
}

.service-container .registration-box {
  background-color: #eae7dc;
  margin-left: 55px;
  border-radius: 13px;
}

.service-container .registration-box img {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 10px;
}

.service-container .registration-box h5 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #e85a4f;
}

.service-container .registration-box p {
  text-align: center;
  color: #4e4e50;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 1.5em;
}

.service-container .registration-box button {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 13px;
  border: none;
  background-color: #e85a4f;
  outline: none;
  color: white;
  font-size: 16px;
  z-index: -1;
}

.service-container .registration-box button:hover {
  background-color: #4e4e50;
  color: #eae7dc;
  border: 1px solid #eae7dc;
}

.user-info {
  width: 100%;
  height: 250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  background-color: #4e4e50;
}

.user-info .user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border-right: 1px solid #e85a4f;
  color: white;
  cursor: pointer;
}

.user-info .user-list:hover {
  background-color: #e85a4f;
  color: white;
}

.partner {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 2em;
  color: #4e4e50;
}

.partner span {
  color: #e85a4f;
  font-family: 'Kaushan Script', cursive;
}

.swiper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: -1000;
}

.swiper .swiper-slide {
  width: 100%;
  height: 200px;
  padding: 4em;
  z-index: -1000;
}

.swiper .swiper-slide img {
  cursor: pointer;
  display: block;
  width: 150px;
  height: 80px;
  place-items: center;
  z-index: -1000;
}

.container-list {
  width: 100%;
}

.container-list .slider-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container-list .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
}

.container-list .slides .lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 10px;
}

.container-list .slides .line {
  padding: 1.5px 10px;
  margin: 0 3px;
  background-color: #e85a4f;
  cursor: pointer;
  -webkit-transition: backgroud-color 0.3s ease;
  transition: backgroud-color 0.3s ease;
}

.container-list .slides .line:hover {
  background-color: #4e4e50;
}

.container-list .slides .slide1 {
  display: none;
  -webkit-animation-name: fadeout;
          animation-name: fadeout;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.container-list .slides .slide1 .image1 {
  padding-bottom: 20px;
}

.container-list .slides .slide1 .image1 .fa-user-graduate {
  background-color: #e85a4f;
  border-radius: 50%;
  font-size: 40px;
  width: 80px;
  height: 80px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.container-list .slides .slide1 .fa-star {
  color: #d8c3a5;
}

.container-list p {
  font-size: 18px;
  color: #4e4e50;
  margin-bottom: 10px;
}

.container-list h6 {
  font-size: 20px;
  color: #d8c3a5;
}

.visit-line {
  padding: 2em;
  font-size: 23px;
}

.visit-line span {
  color: #e85a4f;
}

.article-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 2em;
}

.article-list .square {
  background-color: #4e4e50;
  padding: 1em;
  border-radius: 12px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px 0.1px #4e4e50;
          box-shadow: 0 0 20px 0.1px #4e4e50;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.article-list .square .fa-user-graduate {
  font-size: 25px;
  color: #e85a4f;
  padding-right: 10px;
}

.article-list .square i {
  font-size: 16px;
}

.article-list .square span {
  color: #d8c3a5;
}

.article-list .square button {
  padding: 4px 5px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 14px;
  background-color: #e85a4f;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.article-list .square button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.article-list .square h3 {
  color: white;
}

.article-list .square p {
  color: #e85a4f;
}

.read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read button {
  cursor: pointer;
  padding: 8px 25px;
  font-size: 20px;
  border-radius: 13px;
  outline: none;
  border: none;
  background-color: #4e4e50;
  color: #e85a4f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.read button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.bottom-bar {
  width: 100%;
  height: 150px;
  background-color: #e85a4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.bottom-bar span {
  color: #4e4e50;
}

.bottom-bar h1 {
  color: white;
}

.bottom-bar .int {
  width: 400px;
  height: 35px;
  background-color: aliceblue;
  border-radius: 13px;
}

.bottom-bar input {
  width: 250px;
  height: 35px;
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
}

.bottom-bar button {
  width: 147px;
  height: 35px;
  border-radius: 0 13px 13px 0;
  border: none;
  outline: none;
  background: none;
  color: white;
  background-color: #4e4e50;
  font-size: 17px;
  cursor: pointer;
}

.footer-container {
  background-color: #4e4e50;
  padding: 4em;
}

.footer-container .footer-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 40px;
}

.footer-container .footer-list .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-list .social-media .fa-brands {
  font-size: 25px;
  color: #d8c3a5;
  cursor: pointer;
}

.footer-container .footer-list .social-media span {
  font-size: 15px;
  color: #e85a4f;
}

.footer-container .footer-list .social-media span:hover {
  color: #eae7dc;
}

.footer-container .footer-list .business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-list .ngo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-list .tax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-list .compliance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-list h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #d8c3a5;
}

.footer-container .footer-list a {
  color: #e85a4f;
  font-size: 16px;
  font-weight: 100;
  line-height: 2em;
  cursor: pointer;
}

.footer-container .footer-list a:hover {
  color: #eae7dc;
}

.footer-container .footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 20px;
  border-top: 1px solid #eae7dc;
  border-bottom: 1px solid #eae7dc;
}

.footer-container .footer-block a {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #e85a4f;
}

.footer-container .footer-block a:hover {
  color: #eae7dc;
}

.footer-container p {
  color: #d8c3a5;
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 1280px) {
  .topbar .topbar-list {
    display: none;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 850px) {
  .blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 1em;
    width: 100%;
    gap: 20px;
  }
  .blog .corpbiz {
    width: 100%;
  }
  .blog .blog-box1 {
    width: 100%;
    -webkit-animation: none;
            animation: none;
  }
  .faith h1 {
    padding: 15px;
  }
  .iframe-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .service-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 10px;
    gap: 10px;
    margin-top: 100px;
  }
  .service-container .service-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service-container .registration-box {
    padding: 10px;
    margin: 0;
  }
  .service-container .registration-box p {
    margin-bottom: 20px;
  }
  .user-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
  }
  .user-info .user-list {
    padding: 3em 0;
  }
  .container-list .slider-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container-list .slider-container .slides {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 10px;
    gap: 20px;
  }
  .read {
    margin-top: 30px;
  }
  .bottom-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .footer-container .footer-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 650px) {
  .search-bar {
    width: 60%;
    margin: auto;
    margin-top: 100px;
  }
  .hero-list {
    display: none;
  }
  .iframe-container .text-list .working-process {
    padding: 10px;
  }
  .iframe-container .text-list .vertical-text {
    padding: 10px;
  }
  .iframe-container .iframe {
    display: none;
  }
  .footer-container .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 500px) {
  .footer-container {
    padding: 2em;
  }
  .bottom-bar {
    height: 200px;
  }
  .bottom-bar h1 {
    font-size: 20px;
  }
  .bottom-bar .int {
    width: 70%;
  }
  .bottom-bar button {
    margin-top: 10px;
    border-radius: 11px;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topbar .logo img {
    width: 100px;
    height: 40px;
  }
}
/*# sourceMappingURL=kowshik.css.map */