@mixin collaborate {
  display: flex;
  justify-content: space-between;
}
@mixin center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
@mixin relative {
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 30px;
  align-items: center;
}
