@import "button";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.navbar_brand {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  position: fixed;
  width: 100%;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px 30px;
  .logo img {
    width: 65%;
  }
  .open_menu {
    display: none;
  }
  .close_menu {
    display: none;
  }

  .navbar {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      li {
        &:hover {
          .drop {
            display: block;
          }
        }
        a {
          text-decoration: none;
          color: #6d6875;
          position: relative;
          font-size: 20px;

          font-weight: bold;
        }
        .fa-caret-down {
          font-size: 15px;
          vertical-align: 0.24em;
        }
      }
    }
    .btn {
      button {
        @extend .button_format;
        background-color: #1b3b6f;
        color: #ffffff;
      }
      button:hover {
        background: orange;
      }
    }

    .drop {
      display: none;
      line-height: 3;
      position: absolute;
      margin-top: 15px;
      box-shadow: 0 2px 10px 0 rgb(0, 0, 0.3);
      background-color: #fff;
      width: 300px;
      border-radius: 5px;
      &:hover {
        background-color: #14213d;
        color: #ffffff;
        p:hover {
          color: #ffffff;
        }
      }
      p {
        color: #003566;
        font-weight: bold;
        padding-left: 10px;
        font-size: 18px;
      }
      .drop_down {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        padding: 0 15px;
      }
    }
    .fa-whatsapp {
      font-weight: bold;
      color: #25d362;
      font-size: 25px;
      margin-top: -5px;
      p {
        color: black;
        font-size: 20px;
      }
    }
    .fa-play {
      font-size: 10px;
    }
  }
}
.navbar_brand.shadow {
  box-shadow: 0 0 20px black;
  margin-top: -5px;
}
.search {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  .search_input {
    width: 90%;
    height: 50px;
    font-size: 18px;
    color: #504f4f;
    background-color: #efefef;
    border: none;
    padding: 15px 30px;
    border-radius: 100px;
    margin-right: -50px;
    transition: all 0.2s;
  }
  .search_button {
    border: none;
    background-color: #efefef;
    cursor: pointer;
  }
  .search_button:focus {
    outline: none;
    width: 100%;
    background-color: #f0eeee;
  }
  .search_input::-webkit-input-placeholder {
    font-size: 18px;
    color: #ccc;
  }
  .search_button:active {
    transform: translateY(2px);
  }
  .search_icon {
    font-size: 25px;
    color: #999;
  }
}

@media (max-width: 1200px) {
  .navbar_brand {
    .logo {
      width: 120%;
    }
    .open_menu {
      display: inline;
      justify-self: end;

      i {
        font-size: 30px;
      }
    }
    .close_menu {
      font-size: 35px;
      margin-left: 40px;
    }
    .navbar {
      display: none;
      position: fixed;
      right: 0;
      width: 70%;
      height: 100%;
      top: 0;
      background-color: gray;
      z-index: 1000;
      padding: 15px 0;
      ul {
        display: inline;
        li {
          display: flex;
          justify-content: space-between;
          padding: 15px;
          color: #ffffff;
          a {
            color: #ffffff;
          }
          .drop {
            width: 100%;
            position: relative;
            opacity: 1;
            left: 0;
            width: 100%;
          }
        }
      }
    }
    .open_menu,
    .close_menu {
      display: flex;
    }
  }
}
