@import "button";
@import "collaborate";
@import "colors";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.navbar_brand {
  display: grid;
  grid-template-columns: 1fr 4fr;
  z-index: 1000;
  align-items: center;
  position: fixed;
  width: 100%;
  background: #fafafa;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 30px;
  .logo img {
    width: 180px;
  }
  .open_menu {
    display: none;
    @media (max-width: 1200px) {
      display: inline;
      justify-self: end;
      cursor: pointer;
      display: flex;
      i {
        font-size: 30px;
      }
    }
  }
  .close_menu {
    display: none;
    @media (max-width: 1200px) {
      font-size: 35px;
      margin-left: 40px;
      cursor: pointer;
      color: #fafafa;
      display: flex;
    }
  }

  .navbar {
    margin-top: 15px;
    @media (max-width: 1200px) {
      display: none;
      position: fixed;
      right: 0;
      width: 60%;
      height: 100vh;
      margin-top: 0;
      top: 0;
      background-color: #5d001e;
      padding: 15px 0;
    }
    ul {
      list-style: none;
      @include collaborate;
      @media (max-width: 1200px) {
        display: block;
      }
      li {
        @media (max-width: 1200px) {
          @include collaborate;
          padding: 15px;
          color: #ffffff;
        }
        &:hover {
          .drop {
            display: block;
          }
        }
        a {
          text-decoration: none;
          color: #6d6875;
          position: relative;
          font-size: 19px;
          font-weight: bold;

          @media (max-width: 1200px) {
            color: #ffffff;
            font-weight: bold;
          }
        }
        .fa-caret-down {
          font-size: 15px;
          vertical-align: 0.24em;
        }
      }
    }
    .btn {
      button {
        @extend .button_format;
        background-color: #faa307;
        color: #ffffff;
        box-shadow: inset 0 0 0 0 #023e8a;
        transition: ease-out 0.5s;
        &:hover {
          box-shadow: inset 100px 0 0 0 #023e8a;
        }
      }
    }

    .drop {
      display: none;
      line-height: 3;
      position: absolute;
      margin-top: 15px;
      box-shadow: 0 2px 10px 0 rgb(0, 0, 0.3);
      background-color: $white;
      width: 300px;
      border-radius: 5px;
      @media (max-width: 1200px) {
        width: 100%;
        position: relative;
        opacity: 1;
        left: 0;
        width: 100%;
      }
      .drop_down:hover {
        border-left: 4px solid #023e8a;
        background-color: #faa307;
        color: #023e8a;
        p:hover {
          color: $white;
        }
      }
      p {
        color: #023e8a;
        font-weight: bold;
        padding-left: 10px;
        font-size: 15px;
        cursor: pointer;
      }
      .drop_down {
        @include collaborate;
        align-items: center;
        border-bottom: 1px solid #ade8f4;
        padding: 0 15px;
      }
    }
    .fa-whatsapp {
      font-weight: bold;
      color: #25d366;
      font-size: 27px;
      cursor: pointer;
      @media (max-width: 1200px) {
        color: #ffffff;
        font-size: 30px;
      }

      p {
        color: #6d6875;
        font-size: 19px;
        margin-top: 5px;
        &:hover {
          color: #faa307;
        }
        @media (max-width: 1200px) {
          color: #ffffff;
          font-weight: normal;
        }
      }
    }
    .fa-phone {
      color: #023e8a;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
      @media (max-width: 1200px) {
        color: #ffffff;
        font-size: 30px;
      }

      p {
        color: #6d6875;
        font-size: 19px;
        margin-top: 6px;
        &:hover {
          color: #faa307;
        }
        @media (max-width: 1200px) {
          color: #ffffff;
          font-weight: normal;
        }
      }
    }
    .fa-play {
      font-size: 10px;
    }
  }
}
.navbar_brand.shadow {
  box-shadow: 0 0 20px $gray;
}
.search_bar {
  background-image: url(/asset/images/backgroung.jpg);
  background-size: 100% 84%;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 5rem;
  height: 100vh;
  @media (max-width: 900px) {
    background-image: url(/asset/images/background_img.png);
    width: 100%;
  }

  .search_box {
    position: absolute;
    border: 0.5px solid #ade8f4;
    @include collaborate;
    align-items: center;
    gap: 0.1em;
    padding: 0 1em;
    color: #faa307;
    width: 47%;
    margin-top: 110px;
    transform: translate(57%, 50%);
    border-radius: 5px;
    @media (max-width: 320px) {
      margin-top: 130px;
    }

    @media (max-width: 900px) {
      background-color: $white;
      width: 90%;
      transform: translate(4%, -70%);
      height: 50px;
    }

    &:hover {
      color: #023e8a;
      cursor: pointer;
    }

    input {
      height: 45px;
      border-radius: 30px;
      border: none;
      outline: none;
      padding: 15px;
      border-color: transparent;
      @media (max-width: 320px) {
        width: 50%;
      }
    }
  }

  .popular {
    @include center;
    position: absolute;
    width: 100%;
    transform: translate(0, 700%);
    @media (max-width: 900px) {
      display: none;
    }
    h5 {
      font-size: 22px;
      color: #023e8a;
    }
  }
  .content {
    transform: translate(0, 180%);
    margin: 0 200px;
    position: relative;
    @media (max-width: 900px) {
      display: none;
    }
    @media (max-width: 1440px) {
      margin: 0 180px;
    }
    @media (max-width: 1444px) {
      margin: 0 190px;
    }
    @media (max-width: 1388px) {
      margin: 0 180px;
    }
    @media (max-width: 1365px) {
      margin: 0 150px;
    }
    @media (max-width: 1245px) {
      margin: 0 140px;
    }
    @media (max-width: 1206px) {
      margin: 0 130px;
    }
    @media (max-width: 1165px) {
      margin: 0 110px;
    }
    @media (max-width: 1085px) {
      margin: 0 100px;
    }
    @media (max-width: 1040px) {
      margin: 0 90px;
    }
    @media (max-width: 1024px) {
      margin-top: 0 100px;
    }
    @media (max-width: 1005px) {
      margin: 0 50px;
    }
    @media (max-width: 965px) {
      margin: 0 80px;
    }
    @media (max-width: 960px) {
      margin: 0 50px;
    }

    ul {
      display: flex;
      @include center;
      list-style: none;
      flex-wrap: wrap;
      margin: inherit;

      li {
        p {
          background-color: #cddafd;
          cursor: pointer;
          font-weight: 800;
          font-size: 11px;
          border-radius: 5px;
          margin: 4px 7px;
          padding: 6px;
          &:hover {
            background: #95a7da;
            box-shadow: 3px 3px 3px #5c5552;
          }
        }
      }
    }
  }
  .moblie_app {
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    transform: translate(0, 330%);

    @media (max-width: 1220px) {
      transform: translate(0, 400%);
    }
    @media (max-width: 900px) {
      transform: translate(0, 70%);
      display: inline-block;
      text-align: center;
    }
    @media (max-width: 768px) {
      transform: translate(0, 80%);
    }
    @media (max-width: 500px) {
      transform: translate(0, 100%);
    }

    @media (max-width: 320px) {
      transform: translate(0, 120%);
    }

    .google {
      display: flex;
      align-items: center;
      justify-self: flex-end;
      gap: 10px;
      @media (max-width: 900px) {
        justify-content: center;
        justify-self: flex-end;
        margin-bottom: 20px;
      }

      img {
        width: 30px;
        @media (max-width: 900px) {
          width: 40px;
        }
      }
    }
    .stars {
      display: flex;
      align-items: center;
      color: #ff7d00;
      @media (max-width: 900px) {
        display: flex;
        align-items: center;
        color: #ff7d00;
      }
    }
    .google_play {
      display: block;
      p {
        font-size: 15px;
        letter-spacing: -1px;
        font-weight: bold;
        margin-left: 30px;
        margin-bottom: -16px;
        @media (max-width: 1280px) {
          margin-left: 10px;
          margin-bottom: -10px;
        }
        @media (max-width: 1220px) {
          font-size: 13px;
          margin-bottom: -12px;
          margin-left: 15px;
        }
        @media (max-width: 1024px) {
          margin-left: 5px;
        }
        @media (max-width: 900px) {
          margin-left: 5px;
          margin-bottom: -40px;
          font-size: 25px;
        }
        @media (max-width: 500px) {
          font-size: 20px;
          margin-bottom: -20px;
        }
        @media (max-width: 320px) {
          font-size: 15px;
          margin-bottom: -15px;
        }
      }
      img {
        width: 33%;
        @media (max-width: 900px) {
          width: 600px;
        }
        @media (max-width: 320px) {
          width: 280px;
        }
        @media (max-width: 500px) {
          width: 80%;
        }
      }
    }
  }
}

.card_container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 50px;
  margin-top: -100px;
  padding: 50px;
  @media (max-width: 900px) {
    display: block;
    padding: 0;
  }
  .corpbiz_box {
    border: 1px solid;
    border: none;
    background-color: #001845;
    border-radius: 10px;
    color: #f8edeb;
    padding: 50px;
    h3 {
      font-size: 24px;
      margin-bottom: 50px;
    }
    p {
      font-size: 18px;
    }
  }
  .animation_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    text-align: center;
    @media (max-width: 900px) {
      display: block;
      padding-top: 20px;
    }
    .cards {
      padding: 35px;
      border: 1px solid;
      cursor: pointer;
      margin: 20px 0;
      border: none;
      border-radius: 5px;
      box-shadow: -2px 0px 30px -4px #ccc5b9;
      animation: pulse 1.4s ease-out infinite;
      @keyframes pulse {
        50% {
          transform: scale(0.9);
        }
      }
      h2 {
        font-size: 22px;
        color: #003566;
        font-weight: 800;
        margin-bottom: 20px;
      }
      p {
        font-size: 17px;
        color: #343a40;
        font-weight: 600;
      }
      img {
        margin-bottom: 10px;
        width: 30%;
      }
    }
  }
}

.business {
  h2 {
    margin-left: 50px;
    font-size: 40px;
    color: #1c2541;
    @media (max-width: 900px) {
      margin-left: 0;
    }

    @media (max-width: 900px) {
      font-size: 25px;
      text-align: center;
      color: $gray;
    }
  }
  span {
    color: #023e8a;
  }
}

.working_process_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
  .working_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .vertical_process {
      writing-mode: vertical-lr;
      letter-spacing: 12px;
      font-size: 25px;
      padding: 1em;
      color: #adb5bd;
    }
    .working_process {
      padding: 5em;

      p {
        font-size: 18px;
        font-weight: 600;
        line-height: 32px;
        color: #343a40;
      }
      @media (max-width: 900px) {
        padding: 10px;
      }
    }
  }

  .iframe iframe {
    width: 100%;
    height: 100%;
    @media (max-width: 1000px) {
      display: none;
    }
  }
}

.process_heading {
  h3 {
    font-size: 38px;
    margin-bottom: -70px;
    color: #212529;
    margin-left: 190px;
    margin-top: 60px;
    @media (max-width: 900px) {
      font-size: 30px;
    }
  }
}

.service_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #5d001e;
  padding: 4em;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .business_registration {
    display: flex;
    @media (max-width: 900px) {
      justify-content: center;
      align-items: center;
    }

    .service_box {
      a {
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
        background-color: #941750;
        font-size: 20px;
        line-height: 50px;
        padding-left: 15px;
        padding-right: 20px;
        color: White;
        &:hover {
          background-color: #ff90b3;
          color: #5d001e;
        }
      }
      @media (max-width: 900px) {
        width: 100%;
        text-align: center;
      }
    }
    .vertical_service {
      writing-mode: vertical-lr;
      font-size: 20px;
      letter-spacing: 13px;
      color: #e3afbc;
      margin-top: 60px;
      margin-left: -60px;
      @media (max-width: 900px) {
        display: none;
      }
    }
  }
  .registration_box {
    background-color: white;
    margin-left: 30px;
    @media (max-width: 900px) {
      margin-left: 0;
      margin-bottom: 20px;
    }

    img {
      width: 30%;
      display: flex;
      margin: auto;
      margin-top: 20px;
      padding: 10px;
    }
    h5 {
      font-size: 20px;
      color: #5d001e;
      padding: 0 20px;
      text-align: center;
      margin-bottom: 30px;
      margin-top: 10px;
    }
    p {
      text-align: center;
      margin-bottom: 30px;
      color: #ee4c7c;
      font-weight: 700;
      padding: 0 12px;
      font-size: 16px;
      line-height: 1.5em;
    }

    button {
      margin: auto;
      display: flex;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 130px;
      height: 40px;
      border: none;
      background-color: #5d001e;
      outline: none;
      color: White;
      font-size: 16px;
      z-index: -1;
    }
    button:hover {
      background-color: #ff90b3;
      color: #5d001e;
      border: 1px solid Violet;
    }
  }
}

.user_info {
  background-image: url(/asset/images/background-lap.jpg);
  display: grid;
  grid-template-columns: repeat(4, 25%);
  // background-color: #3d5a80;
  width: 100%;
  height: 200px;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    padding: 1em;
    height: auto;
  }
  .user_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    @media (max-width: 900px) {
      padding: 1em;
    }
    p {
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
    }
    img {
      width: 20%;
      margin-bottom: 10px;
    }
    &:hover {
      background-color: #941750;
      color: black;
    }
  }
}

.corpiz_app {
  background-image: url(/asset/images/mobile-app-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 58px 40px;
  margin-top: 6rem;
  // margin-left: 180px;
  transform: translate(17%, 10%);

  width: 75%;
  border-radius: 20px;
  @media (max-width: 900px) {
    padding: 10px;
    margin-top: 0;
  }

  .corpiz {
    padding-right: 500px;
    @media (max-width: 900px) {
      padding-right: 0;
    }

    h2 {
      font-size: 40px;
      margin-bottom: 20px;
      color: #212529;
    }
    p {
      margin-bottom: 20px;
      line-height: 30px;
      font-size: 18px;
      font-weight: 500;
      width: 85%;
      @media (max-width: 900px) {
        width: 100%;
      }
    }
    img {
      width: 200px;
    }
  }
  .app {
    position: absolute;

    img {
      transform: translate(158%, -88%);
      width: 100%;
      @media (max-width: 1440px) {
        transform: translate(130%, -88%);
      }
      @media (max-width: 1345px) {
        transform: translate(110%, -88%);
      }
      @media (max-width: 1220px) {
        transform: translate(90%, -88%);
      }
      @media (max-width: 1080px) {
        transform: translate(70%, -88%);
      }
      @media (max-width: 1000px) {
        transform: translate(60%, -89%);
      }
      @media (max-width: 940px) {
        transform: translate(50%, -88%);
      }
      @media (max-width: 880px) {
        transform: translate(42%, -88%);
      }
      @media (max-width: 840px) {
        transform: translate(35%, -88%);
      }
      @media (max-width: 800px) {
        display: none;
      }
    }
  }
}

.partner {
  font-size: 25px;
  margin-top: 80px;
  text-align: center;
  color: #5d001e;
}
.swiper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1000;

  .swiper-slide {
    width: 100%;
    height: 200px;
    padding: 4em;
    z-index: -1000;

    img {
      cursor: pointer;
      display: block;
      width: 150px;
      height: 80px;
      place-items: center;
      z-index: -1000;
    }
  }
}

.visit_line {
  padding: 2em;
  font-size: 22px;
  span {
    color: #5d001e;
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 3em;
  .articles_card {
    background-color: #5d001e;
    cursor: pointer;
    padding: 1em;
    border-radius: 10px;
    img {
      width: 8%;
      border-radius: 50%;
    }
    span {
      color: white;
      font-size: 13px;
      font-weight: 700;
      border-bottom: 1px solid gray;
      margin-top: 30px;
    }
    button {
      padding: 5px 6px;
      border-radius: 2px;
      border: none;
      outline: none;
      margin-top: 80px;
      margin-bottom: 20px;
      font-size: 12px;
      font-weight: 700;
      background-color: #941750;
      color: White;
      cursor: pointer;
    }
    h3 {
      font-size: 17px;
      color: white;
      font-weight: 700;
    }
    p {
      font-size: 20px;
      color: yellow;
      font-weight: 700;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
}

.read_articles {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    cursor: pointer;
    padding: 8px 25px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 60px;
    outline: none;
    border: none;
    background-color: orange;
    color: white;
    &:hover {
      background: #5d001e;
    }
  }
}

.bottom_bar {
  display: flex;
  background-color: yellowgreen;
  height: 200px;
  padding-left: 15%;
  padding-top: 20px;

  h1 {
    font-size: 35px;
    color: #ffffff;
    margin-top: 30px;
  }
  .subscribe input {
    padding: 10px;
    margin-left: 60px;
    margin-top: 50px;
    width: 350px;
    height: 40px;
    border-radius: 15px;
    color: #b10f2e;
    border-color: yellow;
  }
  button {
    font-size: 15px;
    border: none;
    padding: 8px 14px;
    margin-left: 50px;
    background: #c81041;
    color: white;
    cursor: pointer;
    &:hover {
      background: blueviolet;
    }
  }
}

.footer_content {
  background-color: #5d001e;
  color: #ffffff;
  padding: 80px 80px 25px 80px;
  @media (max-width: 900px) {
    padding: 20px;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    .social_media {
      display: flex;
      flex-direction: column;

      .fa-brands {
        font-size: 20px;
        color: #ffccd5;
        cursor: pointer;
        margin-bottom: 10px;
        &:hover {
          color: #b10f2e;
        }
      }
      h3 {
        color: #ee4c7c;
        font-size: 18px;
        margin-bottom: 10px;
      }
      span {
        font-size: 15px;
        margin-left: 10px;
        color: #e3afbc;
      }
    }

    .start_business {
      display: flex;
      flex-direction: column;
    }
    .ngo {
      display: flex;
      flex-direction: column;
    }
    .tax {
      display: flex;
      flex-direction: column;
    }
    .compliance {
      display: flex;
      flex-direction: column;
    }
    h4 {
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: 700;
      color: #ee4c7c;
    }
    a {
      text-decoration: none;
      color: #e3afbc;
      font-size: 15px;
      // font-weight: 100;
      line-height: 1.8em;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer_end {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 50px;
    gap: 30px;
    border-top: 1px solid #ae818d;
    border-bottom: 1px solid #ae818d;
    @media (max-width: 900px) {
      flex-direction: column;
    }

    a {
      text-decoration: none;
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 15px;
      color: #e3afbc;
      &:hover {
        color: #ee4c7c;
      }
    }
  }
  p {
    color: #ff90b3;
    margin-top: 20px;
    text-align: center;
  }
}
