@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.button_format, .navbar_brand .navbar .btn button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.headphone_icon .headphone_round {
  position: fixed;
  right: 25px;
  bottom: 45px;
  border-radius: 50%;
  background-color: #fb8b24;
  -webkit-box-shadow: 0 0 15px #6d6875;
          box-shadow: 0 0 15px #6d6875;
  font-size: 22px;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fafafa;
  z-index: 1000;
}

.headphone_icon .headphone_round i {
  font-size: 32px;
}

.scroller_top {
  position: fixed;
  right: 45px;
  bottom: 155px;
  border-radius: 50%;
  background-color: #0e2b63;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  font-size: 22px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none;
}

.scroller_top.active {
  bottom: 155px;
  pointer-events: auto;
  opacity: 1;
}

.navbar_brand {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  z-index: 1000;
  position: fixed;
  width: 100%;
  background-color: #fafafa;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.navbar_brand .logo img {
  width: 180px;
}

.navbar_brand .open_menu {
  display: none;
}

@media (max-width: 1200px) {
  .navbar_brand .open_menu {
    display: inline;
    justify-self: end;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar_brand .open_menu i {
    font-size: 30px;
  }
}

.navbar_brand .close_menu {
  display: none;
}

@media (max-width: 1200px) {
  .navbar_brand .close_menu {
    font-size: 35px;
    margin-left: 40px;
    cursor: pointer;
    color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar_brand .navbar {
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .navbar_brand .navbar {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 0;
    width: 60%;
    height: 100vh;
    background-color: #023e8a;
    padding: 15px 0;
  }
}

.navbar_brand .navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .navbar_brand .navbar ul {
    display: block;
  }
}

@media (max-width: 1200px) {
  .navbar_brand .navbar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
    color: #fafafa;
  }
}

.navbar_brand .navbar ul li:hover .drop {
  display: block;
}

.navbar_brand .navbar ul li a {
  text-decoration: none;
  color: #6d6875;
  position: relative;
  font-size: 19px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .navbar_brand .navbar ul li a {
    color: #fafafa;
    font-weight: bold;
  }
}

.navbar_brand .navbar ul li .fa-caret-down {
  font-size: 15px;
  vertical-align: 0.24em;
}

.navbar_brand .navbar .btn button {
  background-color: #fb8b24;
  color: #fafafa;
  -webkit-box-shadow: inset 0 0 0 0 #023e8a;
          box-shadow: inset 0 0 0 0 #023e8a;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.navbar_brand .navbar .btn button:hover {
  -webkit-box-shadow: inset 100px 0 0 0 #023e8a;
          box-shadow: inset 100px 0 0 0 #023e8a;
}

.navbar_brand .navbar .drop {
  display: none;
  line-height: 3;
  position: absolute;
  margin-top: 15px;
  -webkit-box-shadow: 0 2px 10px 0 black;
          box-shadow: 0 2px 10px 0 black;
  background-color: #fafafa;
  width: 300px;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .navbar_brand .navbar .drop {
    width: 100%;
    position: relative;
    opacity: 1;
    left: 0;
  }
}

.navbar_brand .navbar .drop .drop_down:hover {
  border-left: 4px solid #023e8a;
  background-color: #fb8b24;
  color: #023e8a;
}

.navbar_brand .navbar .drop .drop_down:hover p:hover {
  color: #fafafa;
}

.navbar_brand .navbar .drop a {
  color: #023e8a;
  font-weight: bold;
  padding-left: 10px;
  font-size: 15px;
  cursor: pointer;
}

.navbar_brand .navbar .drop .drop_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ade8f4;
  padding: 0 15px;
}

.navbar_brand .navbar .fa-whatsapp {
  font-weight: bold;
  color: #25d362;
  font-size: 27px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .navbar_brand .navbar .fa-whatsapp {
    color: #fafafa;
    font-size: 30px;
  }
}

.navbar_brand .navbar .fa-whatsapp p {
  color: #6d6875;
  font-size: 19px;
  margin-top: 5px;
}

.navbar_brand .navbar .fa-whatsapp p:hover {
  color: #fb8b24;
}

@media (max-width: 1200px) {
  .navbar_brand .navbar .fa-whatsapp p {
    color: #fafafa;
    font-weight: normal;
  }
}

.navbar_brand .navbar .fa-phone {
  color: #023e8a;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .navbar_brand .navbar .fa-phone {
    color: #fafafa;
    font-size: 30px;
  }
}

.navbar_brand .navbar .fa-phone p {
  color: #6d6875;
  font-size: 19px;
  margin-top: 6px;
}

.navbar_brand .navbar .fa-phone p:hover {
  color: #fb8b24;
}

@media (max-width: 1200px) {
  .navbar_brand .navbar .fa-phone p {
    color: #fafafa;
    font-weight: normal;
  }
}

.navbar_brand .navbar .fa-play {
  font-size: 10px;
}

.navbar_brand.shadow {
  -webkit-box-shadow: 0 0 20px #6d6875;
          box-shadow: 0 0 20px #6d6875;
}

.search_bar {
  background-image: url(/asset/images/backgroung.jpg);
  background-size: 100% 84%;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 5rem;
  height: 100vh;
}

@media (max-width: 900px) {
  .search_bar {
    background-image: url(/asset/images/background_img.png);
    width: 100%;
  }
}

.search_bar .search_box {
  position: absolute;
  border: 0.5px solid #ade8f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.1em;
  padding: 0 1em;
  color: #fb8b24;
  width: 47%;
  margin-top: 110px;
  -webkit-transform: translate(57%, 50%);
          transform: translate(57%, 50%);
  border-radius: 5px;
}

@media (max-width: 320px) {
  .search_bar .search_box {
    margin-top: 130px;
  }
}

@media (max-width: 900px) {
  .search_bar .search_box {
    background-color: #fafafa;
    width: 90%;
    -webkit-transform: translate(4%, -70%);
            transform: translate(4%, -70%);
    height: 50px;
  }
}

.search_bar .search_box:hover {
  color: #023e8a;
  cursor: pointer;
}

.search_bar .search_box input {
  height: 45px;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 15px;
}

@media (max-width: 320px) {
  .search_bar .search_box input {
    width: 50%;
  }
}

.search_bar .popular {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  -webkit-transform: translate(0, 700%);
          transform: translate(0, 700%);
}

@media (max-width: 900px) {
  .search_bar .popular {
    display: none;
  }
}

.search_bar .popular h5 {
  font-size: 22px;
  color: #023e8a;
}

.search_bar .content {
  -webkit-transform: translate(0, 180%);
          transform: translate(0, 180%);
  margin: 0 200px;
  position: relative;
}

@media (max-width: 900px) {
  .search_bar .content {
    display: none;
  }
}

@media (max-width: 1440px) {
  .search_bar .content {
    margin: 0 180px;
  }
}

@media (max-width: 1444px) {
  .search_bar .content {
    margin: 0 190px;
  }
}

@media (max-width: 1388px) {
  .search_bar .content {
    margin: 0 180px;
  }
}

@media (max-width: 1365px) {
  .search_bar .content {
    margin: 0 150px;
  }
}

@media (max-width: 1245px) {
  .search_bar .content {
    margin: 0 140px;
  }
}

@media (max-width: 1206px) {
  .search_bar .content {
    margin: 0 130px;
  }
}

@media (max-width: 1165px) {
  .search_bar .content {
    margin: 0 110px;
  }
}

@media (max-width: 1085px) {
  .search_bar .content {
    margin: 0 100px;
  }
}

@media (max-width: 1040px) {
  .search_bar .content {
    margin: 0 90px;
  }
}

@media (max-width: 1024px) {
  .search_bar .content {
    margin-top: 0 100px;
  }
}

@media (max-width: 1005px) {
  .search_bar .content {
    margin: 0 50px;
  }
}

@media (max-width: 965px) {
  .search_bar .content {
    margin: 0 80px;
  }
}

@media (max-width: 960px) {
  .search_bar .content {
    margin: 0 50px;
  }
}

.search_bar .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: inherit;
}

.search_bar .content ul li p {
  background-color: #7594ce;
  cursor: pointer;
  font-weight: 700;
  font-size: 11px;
  border-radius: 5px;
  margin: 4px 7px;
  padding: 6px;
}

.search_bar .content ul li p:hover {
  background: #023e8a;
  color: #fafafa;
  -webkit-box-shadow: 3px 3px 3px #5c5552;
          box-shadow: 3px 3px 3px #5c5552;
}

.search_bar .moblie_apps {
  width: 100%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  -webkit-transform: translate(0, 330%);
          transform: translate(0, 330%);
}

@media (max-width: 1220px) {
  .search_bar .moblie_apps {
    -webkit-transform: translate(0, 400%);
            transform: translate(0, 400%);
  }
}

@media (max-width: 900px) {
  .search_bar .moblie_apps {
    -webkit-transform: translate(0, 70%);
            transform: translate(0, 70%);
    display: inline-block;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .search_bar .moblie_apps {
    -webkit-transform: translate(0, 80%);
            transform: translate(0, 80%);
  }
}

@media (max-width: 500px) {
  .search_bar .moblie_apps {
    -webkit-transform: translate(0, 60%);
            transform: translate(0, 60%);
  }
}

@media (max-width: 320px) {
  .search_bar .moblie_apps {
    -webkit-transform: translate(0, 150%);
            transform: translate(0, 150%);
  }
}

.search_bar .moblie_apps .google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  gap: 10px;
}

@media (max-width: 900px) {
  .search_bar .moblie_apps .google {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-self: flex-end;
    margin-bottom: 20px;
  }
}

.search_bar .moblie_apps .google img {
  width: 30px;
}

@media (max-width: 900px) {
  .search_bar .moblie_apps .google img {
    width: 40px;
  }
}

.search_bar .moblie_apps .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff7d00;
}

@media (max-width: 900px) {
  .search_bar .moblie_apps .stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ff7d00;
  }
}

.search_bar .moblie_apps .google_play {
  display: block;
}

.search_bar .moblie_apps .google_play p {
  font-size: 15px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: -16px;
}

@media (max-width: 1280px) {
  .search_bar .moblie_apps .google_play p {
    margin-left: 10px;
    margin-bottom: -10px;
  }
}

@media (max-width: 1220px) {
  .search_bar .moblie_apps .google_play p {
    font-size: 13px;
    margin-bottom: -12px;
    margin-left: 15px;
  }
}

@media (max-width: 1024px) {
  .search_bar .moblie_apps .google_play p {
    margin-left: 5px;
  }
}

@media (max-width: 900px) {
  .search_bar .moblie_apps .google_play p {
    margin-left: 5px;
    margin-bottom: -40px;
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .search_bar .moblie_apps .google_play p {
    font-size: 20px;
    margin-bottom: -20px;
  }
}

@media (max-width: 320px) {
  .search_bar .moblie_apps .google_play p {
    font-size: 15px;
    margin-bottom: -15px;
  }
}

.search_bar .moblie_apps .google_play img {
  width: 33%;
}

@media (max-width: 900px) {
  .search_bar .moblie_apps .google_play img {
    width: 600px;
  }
}

@media (max-width: 320px) {
  .search_bar .moblie_apps .google_play img {
    width: 280px;
  }
}

@media (max-width: 500px) {
  .search_bar .moblie_apps .google_play img {
    width: 80%;
  }
}

@media (max-width: 590px) {
  .search_bar .moblie_apps .google_play img {
    width: 80%;
    margin-top: 10px;
  }
}

.card_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5fr;
      grid-template-columns: 1fr 2.5fr;
  gap: 50px;
  margin-top: -100px;
  padding: 50px;
}

@media (max-width: 900px) {
  .card_container {
    display: block;
    padding: 0;
  }
}

.card_container .corpbiz_box {
  border: 1px solid;
  border: none;
  background-color: #001845;
  border-radius: 10px;
  color: #f8edeb;
  padding: 50px;
}

.card_container .corpbiz_box h3 {
  font-size: 24px;
  margin-bottom: 50px;
}

.card_container .corpbiz_box p {
  font-size: 18px;
}

.card_container .animation_card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  text-align: center;
}

@media (max-width: 900px) {
  .card_container .animation_card {
    display: block;
    padding-top: 20px;
  }
}

.card_container .animation_card .cards {
  padding: 35px;
  border: 1px solid;
  cursor: pointer;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: -2px 0px 30px -4px #6d6875;
          box-shadow: -2px 0px 30px -4px #6d6875;
  -webkit-animation: pulse 1.4s ease-out infinite;
          animation: pulse 1.4s ease-out infinite;
}

@-webkit-keyframes pulse {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes pulse {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.card_container .animation_card .cards h2 {
  font-size: 22px;
  color: #003566;
  font-weight: 700;
  margin-bottom: 20px;
}

.card_container .animation_card .cards p {
  font-size: 18px;
  color: #212529;
  font-weight: 500;
}

.card_container .animation_card .cards img {
  margin-bottom: 10px;
  width: 30%;
}

.business h2 {
  margin-left: 50px;
  font-size: 40px;
  color: #1c2541;
}

@media (max-width: 900px) {
  .business h2 {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .business h2 {
    font-size: 25px;
    text-align: center;
    color: #6d6875;
  }
}

.business span {
  color: #023e8a;
}

.working_process_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 900px) {
  .working_process_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
}

@media (max-width: 1000px) {
  .working_process_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.working_process_container .working_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.working_process_container .working_text .vertical_process {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 12px;
  font-size: 25px;
  padding: 1em;
  color: #adb5bd;
}

@media (max-width: 700px) {
  .working_process_container .working_text .vertical_process {
    display: none;
  }
}

.working_process_container .working_text .working_process {
  padding: 5em;
}

.working_process_container .working_text .working_process h3 {
  color: #212529;
  font-size: 30px;
  padding-bottom: 30px;
}

@media (max-width: 320px) {
  .working_process_container .working_text .working_process h3 {
    margin-top: 20px;
    font-size: 25px;
  }
}

.working_process_container .working_text .working_process p {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  color: #343a40;
}

@media (max-width: 900px) {
  .working_process_container .working_text .working_process {
    padding: 10px;
  }
}

.working_process_container .iframe iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .working_process_container .iframe iframe {
    width: 100%;
    height: 50vh;
  }
}

.service_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  background-color: #001845;
  padding: 4em;
}

@media (max-width: 900px) {
  .service_content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  .service_content {
    padding: 0;
  }
}

@media (max-width: 380px) {
  .service_content {
    padding: 0;
  }
}

.service_content .business_registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .service_content .business_registration {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.service_content .business_registration .service_box a {
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  background-color: #0e2b63;
  font-size: 20px;
  line-height: 50px;
  padding-right: 20px;
  padding-left: 15px;
  font-weight: 700;
  color: #fafafa;
}

.service_content .business_registration .service_box a:hover {
  border: 1px solid #f8edeb;
}

@media (max-width: 900px) {
  .service_content .business_registration .service_box {
    width: 100%;
    text-align: center;
  }
}

.service_content .business_registration .vertical_service {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 20px;
  letter-spacing: 13px;
  color: #adb5bd;
  margin: 60px 0 0 -60px;
}

@media (max-width: 900px) {
  .service_content .business_registration .vertical_service {
    display: none;
  }
}

.service_content .registration_box {
  background-color: #fafafa;
  margin-left: 30px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.service_content .registration_box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 900px) {
  .service_content .registration_box {
    margin: 0 0 20px 0;
    padding: 50px;
  }
}

.service_content .registration_box img {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.service_content .registration_box h5 {
  font-size: 20px;
  color: #023e8a;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.service_content .registration_box p {
  text-align: center;
  margin-bottom: 30px;
  color: #343a40;
  font-weight: 600;
  padding: 0 20px;
  font-size: 17px;
  line-height: 1.5em;
}

.service_content .registration_box button {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  width: 130px;
  height: 40px;
  border: none;
  background-color: #fb8b24;
  outline: none;
  color: #fafafa;
  font-size: 16px;
  z-index: -1;
}

.service_content .registration_box button:hover {
  background-color: #0e2b63;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.user_info {
  background-image: url(/asset/images/background-lap.jpg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 100%;
  height: 200px;
}

@media (max-width: 900px) {
  .user_info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
  }
}

.user_info .user_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #fafafa;
}

@media (max-width: 900px) {
  .user_info .user_list {
    border-right: 0;
    border-bottom: 1px solid #fafafa;
    padding: 1em;
  }
}

.user_info .user_list p {
  color: #fafafa;
  font-size: 20px;
  font-weight: 700;
}

.user_info .user_list img {
  width: 20%;
  margin-bottom: 10px;
}

.user_info .user_list:hover {
  background-color: #023e8a;
  -webkit-box-shadow: 0 0 20px 5px #023e8a;
          box-shadow: 0 0 20px 5px #023e8a;
}

.corpiz_app {
  background-image: url(/asset/images/mobile-app-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 58px 40px;
  margin-top: 6rem;
  -webkit-transform: translate(17%, 10%);
          transform: translate(17%, 10%);
  width: 75%;
  border-radius: 20px;
}

@media (max-width: 900px) {
  .corpiz_app {
    padding: 10px;
    margin-top: 0;
  }
}

.corpiz_app .corpiz {
  padding-right: 500px;
}

@media (max-width: 900px) {
  .corpiz_app .corpiz {
    padding-right: 0;
  }
}

.corpiz_app .corpiz h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #212529;
}

.corpiz_app .corpiz p {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
  width: 85%;
}

@media (max-width: 900px) {
  .corpiz_app .corpiz p {
    width: 100%;
  }
}

.corpiz_app .corpiz img {
  width: 200px;
}

.corpiz_app .app {
  position: absolute;
}

.corpiz_app .app img {
  -webkit-transform: translate(158%, -88%);
          transform: translate(158%, -88%);
  width: 100%;
}

@media (max-width: 1440px) {
  .corpiz_app .app img {
    -webkit-transform: translate(130%, -88%);
            transform: translate(130%, -88%);
  }
}

@media (max-width: 1345px) {
  .corpiz_app .app img {
    -webkit-transform: translate(110%, -88%);
            transform: translate(110%, -88%);
  }
}

@media (max-width: 1220px) {
  .corpiz_app .app img {
    -webkit-transform: translate(90%, -88%);
            transform: translate(90%, -88%);
  }
}

@media (max-width: 1080px) {
  .corpiz_app .app img {
    -webkit-transform: translate(70%, -88%);
            transform: translate(70%, -88%);
  }
}

@media (max-width: 1000px) {
  .corpiz_app .app img {
    -webkit-transform: translate(60%, -89%);
            transform: translate(60%, -89%);
  }
}

@media (max-width: 940px) {
  .corpiz_app .app img {
    -webkit-transform: translate(50%, -88%);
            transform: translate(50%, -88%);
  }
}

@media (max-width: 880px) {
  .corpiz_app .app img {
    -webkit-transform: translate(42%, -88%);
            transform: translate(42%, -88%);
  }
}

@media (max-width: 840px) {
  .corpiz_app .app img {
    -webkit-transform: translate(35%, -88%);
            transform: translate(35%, -88%);
  }
}

@media (max-width: 900px) {
  .corpiz_app .app img {
    display: none;
  }
}

.partner {
  font-size: 26px;
  margin-top: 110px;
  text-align: center;
  color: #001845;
}

.swiper {
  width: 100%;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: -1000;
}

.swiper .swiper-slide {
  width: 100%;
  height: 200px;
  padding: 4em;
  z-index: -1000;
}

.swiper .swiper-slide img {
  cursor: pointer;
  display: block;
  width: 200px;
  height: 60px;
  place-items: center;
  z-index: -1000;
}

.latest_news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0 120px 150px;
}

@media (max-width: 900px) {
  .latest_news {
    display: block;
    padding: 0;
    gap: 30px;
  }
}

.latest_news .star_slide {
  text-align: center;
  max-width: 50%;
  position: relative;
  -webkit-animation: fallinout 2s ease-in;
          animation: fallinout 2s ease-in;
}

@media (max-width: 900px) {
  .latest_news .star_slide {
    max-width: 100%;
  }
}

.latest_news .star_slide.latest_news_slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(1600%, -130%);
          transform: translate(1600%, -130%);
  display: block;
}

@media (max-width: 1024px) {
  .latest_news .star_slide.latest_news_slider .slick-dots {
    -webkit-transform: translate(900%, -100%);
            transform: translate(900%, -100%);
  }
}

@media (max-width: 900px) {
  .latest_news .star_slide.latest_news_slider .slick-dots {
    display: inline-block;
    -webkit-transform: translate(1500%, -100%);
            transform: translate(1500%, -100%);
  }
}

@media (max-width: 600px) {
  .latest_news .star_slide.latest_news_slider .slick-dots {
    -webkit-transform: translate(1200%, -100%);
            transform: translate(1200%, -100%);
  }
}

@media (max-width: 460px) {
  .latest_news .star_slide.latest_news_slider .slick-dots {
    -webkit-transform: translate(1000%, -100%);
            transform: translate(1000%, -100%);
  }
}

@media (max-width: 380px) {
  .latest_news .star_slide.latest_news_slider .slick-dots {
    -webkit-transform: translate(700%, -100%);
            transform: translate(700%, -100%);
  }
}

.latest_news .star_slide.latest_news_slider li button {
  background-color: #adb5bd;
  border-radius: 50%;
}

.latest_news .star_slide.latest_news_slider .slick-active button {
  background-color: #0e2b63;
}

.latest_news .star_slide .slide .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

.latest_news .star_slide .slide .images img {
  width: 50px;
  border-radius: 50%;
  border: 5px solid #adb5bd;
}

.latest_news .star_slide .slide .star_icon {
  padding-right: 20px;
  padding-top: 5px;
  text-align: right;
}

.latest_news .star_slide .slide .star_icon i {
  font-size: 30px;
  color: #0e2b63;
}

.latest_news .star_slide .slide .info {
  padding: 20px 20px;
  text-align: right;
}

.latest_news .star_slide .slide .info p {
  font-size: 20px;
  line-height: 1.5em;
}

.latest_news .star_slide .slide .info h5 {
  padding-top: 20px;
  font-weight: 700;
  font-size: 25px;
}

.latest_news .star_slide .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  margin-top: -10px;
}

@media (max-width: 900px) {
  .latest_news .star_slide .slick-dots {
    left: auto;
  }
}

.latest_news .star_slide li {
  cursor: pointer;
  list-style: none;
  margin: 5px;
}

.latest_news .star_slide li button {
  cursor: pointer;
  font-size: 0;
  padding: 1px 10px;
  background-color: #adb5bd;
  border: none;
}

.latest_news .star_slide .slick-active button {
  background-color: #0e2b63;
}

.latest_news .latest_news {
  padding: 20px;
  max-width: 50%;
  position: relative;
  text-align: left;
  border-left: 2px solid #fb8b24;
  color: #0e2b63;
  -webkit-animation: fallin 2s ease-in;
          animation: fallin 2s ease-in;
}

@media (max-width: 900px) {
  .latest_news .latest_news {
    max-width: 100%;
    margin-top: 50px;
  }
}

@-webkit-keyframes fallin {
  10% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}

@keyframes fallin {
  10% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}

.latest_news .heading h2 {
  text-transform: capitalize;
  margin-top: -10px;
  padding-bottom: 38px;
  font-size: 40px;
}

.latest_news .latest_news_slider .slide {
  text-align: left;
}

.latest_news .latest_news_slider .slide h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.latest_news .latest_news_slider .slide p {
  padding-top: 20px;
}

.latest_news .latest_news_slider li {
  cursor: pointer;
  list-style: none;
  margin: 5px;
}

.latest_news .latest_news_slider li button {
  cursor: pointer;
  font-size: 0;
  padding: 5px;
  border-radius: 50%;
  background-color: #7594ce;
  border: none;
}

.latest_news .latest_news_slider .slick_active button {
  background-color: antiquewhite;
}

.visit_line {
  padding-left: 70px;
  color: #212529;
  font-size: 22px;
}

.visit_line span {
  color: #023e8a;
}

@media (max-width: 320px) {
  .visit_line {
    font-size: 18px;
  }
}

.articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 3em;
}

@media (max-width: 900px) {
  .articles {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 10px;
  }
}

.articles .articles_card {
  background-color: #001845;
  cursor: pointer;
  padding: 1em;
  border-radius: 10px;
}

.articles .articles_card:hover {
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
}

@-webkit-keyframes bounce {
  20%,
  50%,
  80%,
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

.articles .articles_card .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles .articles_card img {
  width: 8%;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles .articles_card span {
  color: #fafafa;
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid #6d6875;
  margin-left: 10px;
}

.articles .articles_card button {
  padding: 6px 7px;
  border-radius: 2px;
  border: none;
  outline: none;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 700;
  background-color: #fb8b24;
  color: #fafafa;
  cursor: pointer;
}

.articles .articles_card button:hover {
  background: none;
  border: 1px solid #f8edeb;
}

.articles .articles_card h3 {
  font-size: 17px;
  color: #fafafa;
  font-weight: 700;
}

.articles .articles_card p {
  font-size: 20px;
  color: #fb8b24;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 25px;
}

.read_articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read_articles button {
  cursor: pointer;
  padding: 8px 25px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 60px;
  outline: none;
  border: none;
  background-color: #0e2b63;
  color: #fafafa;
}

.read_articles button:hover {
  background: #fb8b24;
}

.news_letter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 3em 8em 3em 8em;
  background-color: #fb8b24;
}

@media (max-width: 850px) {
  .news_letter {
    display: block;
    padding: 50px;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .news_letter {
    padding: 30px 20px;
    font-size: 15px;
  }
}

.news_letter .email {
  position: relative;
  margin-top: 25px;
}

@media (max-width: 850px) {
  .news_letter .email {
    margin-top: 60px;
  }
}

.news_letter .email input {
  border: none;
  outline: none;
  width: 80%;
  height: 50px;
  padding: 0 20px;
  border-radius: 40px;
}

.news_letter .email button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #0e2b63;
  color: #fafafa;
  padding: 12px 26px;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .news_letter .email button {
    padding: 15px 20px;
    font-size: 15px;
  }
}

@media (max-width: 340px) {
  .news_letter .email button {
    left: 190px;
  }
}

@media (max-width: 320px) {
  .news_letter .email button {
    padding: 18px 20px;
    font-size: 11px;
  }
}

.footer_content {
  background-color: #001845;
  color: #fafafa;
  padding: 80px 80px 25px 80px;
}

@media (max-width: 900px) {
  .footer_content {
    padding: 20px;
  }
}

.footer_content .footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

@media (max-width: 900px) {
  .footer_content .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.footer_content .footer .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_content .footer .social_media .fa-brands {
  font-size: 20px;
  color: #fb8b24;
  cursor: pointer;
  margin-bottom: 10px;
}

.footer_content .footer .social_media h3 {
  color: #fb8b24;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer_content .footer .social_media span {
  font-size: 15px;
  margin-left: 10px;
  color: #fafafa;
}

.footer_content .footer .start_business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_content .footer .ngo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_content .footer .tax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_content .footer .compliance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_content .footer h4 {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 700;
  color: #fb8b24;
}

.footer_content .footer a {
  text-decoration: none;
  color: #fafafa;
  font-size: 15px;
  line-height: 1.8em;
  cursor: pointer;
}

.footer_content .footer a:hover {
  text-decoration: underline;
}

.footer_content .footer_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 50px;
  gap: 30px;
  border-top: 1px solid #168aad;
  border-bottom: 1px solid #168aad;
}

@media (max-width: 900px) {
  .footer_content .footer_end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer_content .footer_end a {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 15px;
  color: #fafafa;
}

.footer_content .footer_end a:hover {
  color: #fb8b24;
  text-decoration: underline;
}

.footer_content p {
  color: #fafafa;
  margin-top: 20px;
  text-align: center;
}

.search_second {
  margin-top: 70px;
}

.search_second .bcg_colour {
  width: 100%;
  height: 70vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_second .bcg_colour .input {
  width: 100%;
}

.search_second .bcg_colour .input p {
  font-size: 35px;
  color: #fafafa;
  margin-bottom: 30px;
  text-align: center;
}

.search_second .bcg_colour .input .input_bar {
  place-items: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.search_second .bcg_colour .input .input_bar input {
  width: 60%;
  border-radius: 30px;
  height: 40px;
  font-size: 17px;
  padding-left: 19px;
}

.search_second .bcg_colour .input .input_bar i {
  font-size: 20px;
  place-items: center;
  color: #fafafa;
}

.content_box_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  background-color: #fafafa;
  padding: 1em;
}

@media (max-width: 900px) {
  .content_box_list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.content_box_list .content_box {
  background-color: #001845;
  padding: 1em;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 13px;
}

.content_box_list .content_box h1 {
  color: #ff7d00;
  font-size: 22px;
}

.content_box_list .content_box .tick {
  margin-top: 20px;
  display: block;
}

.content_box_list .content_box .tick span {
  font-size: 18px;
  color: #fafafa;
}

.content_box_list .content_box .tick i {
  margin-bottom: 10px;
  font-size: 20px;
  margin-right: 10px;
  color: #fb8b24;
}

@media (max-width: 850px) {
  .content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
  }
  .content .content-box {
    margin-right: 0;
    border-radius: none;
  }
}

.service-block-right {
  display: none;
}
/*# sourceMappingURL=suganya.css.map */