@import url(c:\Users\subaa\memo\day---six\styles\mediaquery.css);
.button-basic, nav .header .navbar ul li .btn button {
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
  border: none;
  padding: 5px 25px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

nav .header {
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 1000;
}

nav .header .logo img {
  width: 150px;
}

nav .header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  text-align: center;
}

nav .header .navbar ul li {
  position: relative;
  font-size: .9rem;
}

nav .header .navbar ul li:hover .drop {
  display: block;
}

nav .header .navbar ul li a {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  margin-right: 5px;
  text-transform: capitalize;
  color: #444444;
}

nav .header .navbar ul li a:hover {
  color: #15426d;
}

nav .header .navbar ul li i {
  vertical-align: 0.2em;
}

nav .header .navbar ul li .drop {
  display: none;
  line-height: 2.7;
  position: absolute;
  margin-top: 15px;
  background-color: #fff;
  width: 300px;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 2px 10px 0 #444444;
          box-shadow: 0 2px 10px 0 #444444;
  border-radius: 4px;
}

nav .header .navbar ul li .drop .drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 10px;
}

nav .header .navbar ul li .drop .drop-down:hover {
  background: #15426d;
  color: #fff;
}

nav .header .navbar ul li .drop .drop-down a {
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

nav .header .navbar ul li .drop .drop-down a:hover {
  color: #fff;
}

nav .header .navbar ul li .wrapper .button {
  display: inline-block;
  height: 35px;
  width: 35px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav .header .navbar ul li .wrapper .button .icon {
  display: inline-block;
  height: 10px;
  width: 25px;
  text-align: center;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 40px;
}

nav .header .navbar ul li .wrapper .button .icon i {
  color: #25d362;
  font-size: 20px;
  line-height: 35px;
}

nav .header .navbar ul li .wrapper .button .icon i.fa-solid.fa-phone {
  color: #000;
  font-size: 20px;
  line-height: 35px;
}

nav .header .navbar ul li .wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  vertical-align: 0.3rem;
  margin-left: 15px;
}

nav .header .navbar ul li .wrapper .button:hover {
  width: 200px;
}

nav .header .navbar ul li .btn button {
  color: #fff;
  background: #15426d;
}

nav .header .navbar ul li .btn button:hover {
  background: #efa434;
}

nav .header .open-nav-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  cursor: pointer;
  height: 34px;
  width: 40px;
  position: relative;
  justify-self: flex-end;
}

nav .header .open-nav-menu span {
  display: block;
  height: 3.5px;
  width: 30px;
  background-color: #000;
  position: relative;
  border-radius: 15px;
}

nav .header .open-nav-menu span:before, nav .header .open-nav-menu span:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 15px;
}

nav .header .open-nav-menu span:before {
  top: -7px;
}

nav .header .open-nav-menu span:after {
  top: 7px;
}

nav .header .close-nav-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 0 0 15px 15px;
}

nav .header .close-nav-menu i {
  font-size: 30px;
  color: #fff;
}

nav .header .close-nav-menu i:hover {
  color: #efa434;
}

nav .header.black {
  margin-top: -5px;
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
}

nav .icons #menu-btn {
  display: none;
}

section .search-play {
  background-image: url(../assets/images/background.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 3.5rem;
  background-size: 100% 90%;
  position: relative;
}

@media (max-width: 900px) {
  section .search-play {
    background-image: url(../assets/images/home.png);
  }
}

section .search-play .search-1 {
  position: absolute;
  border: 0.5px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.1em;
  padding: 0 1em;
  color: #15426d;
  width: 50%;
  margin-top: 60px;
  -webkit-transform: translate(55%, 50%);
          transform: translate(55%, 50%);
}

section .search-play .search-1:hover {
  color: #efa434;
}

@media (max-width: 900px) {
  section .search-play .search-1 {
    -webkit-transform: translate(5%, 50%);
            transform: translate(5%, 50%);
    width: 60%;
    background: #fff;
  }
}

@media (max-width: 900px) {
  section .search-play .search-1 {
    width: 91%;
  }
}

section .search-play .search-1 input {
  height: 40px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}

section .search-play .popular {
  text-align: center;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-transform: translate(0%, 600%);
          transform: translate(0%, 600%);
}

@media (max-width: 900px) {
  section .search-play .popular {
    display: none;
  }
}

section .search-play .popular h5 {
  font-size: 20px;
}

section .search-play .buttons {
  position: absolute;
  -webkit-transform: translate(3.5%, 130%);
          transform: translate(3.5%, 130%);
  margin: 0 150px;
}

@media (max-width: 1440px) {
  section .search-play .buttons {
    margin: 0 170px;
  }
}

@media (max-width: 1290px) {
  section .search-play .buttons {
    margin: 0 150px;
  }
}

@media (max-width: 1209px) {
  section .search-play .buttons {
    margin: 0 120px;
  }
}

@media (max-width: 1190px) {
  section .search-play .buttons {
    margin: 0 120px;
  }
}

@media (max-width: 1088px) {
  section .search-play .buttons {
    margin: 0 100px;
  }
}

@media (max-width: 1008px) {
  section .search-play .buttons {
    margin: 0 90px;
  }
}

@media (max-width: 990px) {
  section .search-play .buttons {
    -webkit-transform: translate(3.5%, 100%);
            transform: translate(3.5%, 100%);
    margin: 0 100px;
  }
}

@media (max-width: 952px) {
  section .search-play .buttons {
    margin: 0 90px;
  }
}

@media (max-width: 900px) {
  section .search-play .buttons {
    display: none;
  }
}

section .search-play .buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: inherit;
}

section .search-play .buttons ul li button {
  background-color: #15426d;
  color: #fff;
  border: 1.5px solid #efa434;
  font-size: 12px;
  padding: 5px;
  margin: 4px;
}

section .search-play .buttons ul li button:hover {
  background: #efa434;
  color: #000;
  border: 1.5px solid #15426d;
  -webkit-box-shadow: 0 2px 10px 0 #15426d;
          box-shadow: 0 2px 10px 0 #15426d;
}

section .search-play .google-play {
  width: 100%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  -webkit-transform: translate(3%, 500%);
          transform: translate(3%, 500%);
}

@media (max-width: 900px) {
  section .search-play .google-play {
    -webkit-transform: translate(-20%, 90%);
            transform: translate(-20%, 90%);
    display: inline-block;
  }
}

section .search-play .google-play .google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  gap: 10px;
}

@media (max-width: 900px) {
  section .search-play .google-play .google {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 427px) {
  section .search-play .google-play .google {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin-right: 25px;
  }
}

@media (max-width: 350px) {
  section .search-play .google-play .google {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin-right: 0px;
  }
}

section .search-play .google-play .google img {
  width: 40px;
}

section .search-play .google-play .google .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #efa434;
}

section .search-play .google-play .play {
  display: block;
}

section .search-play .google-play .play p {
  font-size: 15px;
  font-weight: bold;
  margin-left: 8px;
}

@media (max-width: 900px) {
  section .search-play .google-play .play p {
    margin-top: 10px;
    margin-bottom: -20px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }
}

@media (max-width: 520px) {
  section .search-play .google-play .play p {
    margin-left: 70px;
  }
}

@media (max-width: 430px) {
  section .search-play .google-play .play p {
    text-align: right;
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  section .search-play .google-play .play p {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin-right: -20px;
  }
}

section .search-play .google-play .play img {
  width: 200px;
}

@media (max-width: 900px) {
  section .search-play .google-play .play img {
    width: 50%;
    height: 20vh;
    margin-top: 20px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (max-width: 650px) {
  section .search-play .google-play .play img {
    width: 70%;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}

@media (max-width: 427px) {
  section .search-play .google-play .play img {
    width: 90%;
    -webkit-transform: translateX(27%);
            transform: translateX(27%);
  }
}

section .choose-corpiz {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  padding: 0 20px 40px;
  margin-top: -50px;
}

@media (max-width: 900px) {
  section .choose-corpiz {
    display: block;
  }
}

@media (max-width: 480px) {
  section .choose-corpiz {
    padding: 0 5px;
  }
}

section .choose-corpiz .corpiz {
  background-color: #15426d;
  color: #fff;
  padding: 100px 40px;
  -webkit-animation: bouncein 1.5s ease-in;
          animation: bouncein 1.5s ease-in;
}

@-webkit-keyframes bouncein {
  10% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}

@keyframes bouncein {
  10% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}

@media (max-width: 900px) {
  section .choose-corpiz .corpiz {
    padding: 50px 40px;
  }
}

section .choose-corpiz .corpiz h2 {
  padding-bottom: 50px;
  text-transform: capitalize;
}

section .choose-corpiz .national-top {
  display: block;
}

section .choose-corpiz .national-top .cards .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  padding: 20px;
  margin: 10px;
  border: 1px solid #15426d;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px 0 #15426d;
          box-shadow: 0 5px 10px 0 #15426d;
  -webkit-animation: pulse 2s ease-in infinite;
          animation: pulse 2s ease-in infinite;
}

@-webkit-keyframes pulse {
  10% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@keyframes pulse {
  10% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@media (max-width: 580px) {
  section .choose-corpiz .national-top .cards .card {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

section .choose-corpiz .national-top .cards .card .logo img {
  width: 100px;
}

@media (max-width: 580px) {
  section .choose-corpiz .national-top .cards .card .logo {
    padding-bottom: 30px;
  }
}

section .choose-corpiz .national-top .cards .card .content h2 {
  padding-bottom: 15px;
}

section .business {
  padding: 0px 40px 40px;
  font-size: 40px;
  line-height: 1.2;
  -webkit-animation: fallout 1.5s ease-in;
          animation: fallout 1.5s ease-in;
}

@-webkit-keyframes fallout {
  10% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}

@keyframes fallout {
  10% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}

section .business span {
  color: #15426d;
}

@media (max-width: 900px) {
  section .business {
    font-size: 28px;
    padding: 20px;
  }
}

@media (max-width: 450px) {
  section .business {
    text-align: center;
    padding: 10px;
    font-size: 25px;
  }
}

section .working-process {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-left: 70px;
  gap: 10px;
}

@media (max-width: 900px) {
  section .working-process {
    display: block;
    padding: 10px;
  }
}

section .working-process .working {
  padding-top: 70px;
  -webkit-animation: fallinout 1.5s ease-in;
          animation: fallinout 1.5s ease-in;
}

@-webkit-keyframes fallinout {
  10% {
    -webkit-transform: translateX(350%);
            transform: translateX(350%);
  }
}

@keyframes fallinout {
  10% {
    -webkit-transform: translateX(350%);
            transform: translateX(350%);
  }
}

@media (max-width: 900px) {
  section .working-process .working {
    padding: 0 60px;
  }
}

@media (max-width: 390px) {
  section .working-process .working {
    padding: 0 20px;
  }
}

section .working-process .working h2 {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 1020px) {
  section .working-process .working h2 {
    font-size: 35px;
  }
}

@media (max-width: 955px) {
  section .working-process .working h2 {
    font-size: 29px;
  }
}

@media (max-width: 900px) {
  section .working-process .working h2 {
    font-size: 40px;
  }
}

@media (max-width: 430px) {
  section .working-process .working h2 {
    margin-top: 30px;
    font-size: 25px;
  }
}

section .working-process .youtube {
  position: relative;
  justify-self: flex-end;
  -webkit-animation: fallin 1.5s ease-in;
          animation: fallin 1.5s ease-in;
}

@-webkit-keyframes fallin {
  10% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}

@keyframes fallin {
  10% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}

section .working-process .youtube img {
  width: 530px;
}

@media (max-width: 900px) {
  section .working-process .youtube img {
    width: 100%;
    height: 50vh;
    margin-top: 40px;
  }
}

section .working-process .youtube .icon {
  position: absolute;
}

section .working-process .youtube .icon i {
  -webkit-transform: translate(300%, -220%);
          transform: translate(300%, -220%);
  font-size: 70px;
  color: red;
}

@media (max-width: 900px) {
  section .working-process .youtube .icon i {
    -webkit-transform: translate(500%, -220%);
            transform: translate(500%, -220%);
  }
}

@media (max-width: 855px) {
  section .working-process .youtube .icon i {
    -webkit-transform: translate(450%, -220%);
            transform: translate(450%, -220%);
  }
}

@media (max-width: 785px) {
  section .working-process .youtube .icon i {
    -webkit-transform: translate(400%, -220%);
            transform: translate(400%, -220%);
  }
}

@media (max-width: 685px) {
  section .working-process .youtube .icon i {
    -webkit-transform: translate(300%, -220%);
            transform: translate(300%, -220%);
  }
}

@media (max-width: 530px) {
  section .working-process .youtube .icon i {
    -webkit-transform: translate(200%, -200%);
            transform: translate(200%, -200%);
  }
}

@media (max-width: 370px) {
  section .working-process .youtube .icon i {
    -webkit-transform: translate(130%, -200%);
            transform: translate(130%, -200%);
  }
}

section .working-process .youtube .icon .icons {
  position: absolute;
}

section .working-process .youtube .icon .icons i {
  -webkit-transform: translate(1190%, -680%);
          transform: translate(1190%, -680%);
  font-size: 30px;
  color: black;
}

@media (max-width: 900px) {
  section .working-process .youtube .icon .icons i {
    -webkit-transform: translate(1890%, -680%);
            transform: translate(1890%, -680%);
  }
}

@media (max-width: 855px) {
  section .working-process .youtube .icon .icons i {
    -webkit-transform: translate(1715%, -680%);
            transform: translate(1715%, -680%);
  }
}

@media (max-width: 785px) {
  section .working-process .youtube .icon .icons i {
    -webkit-transform: translate(1525%, -680%);
            transform: translate(1525%, -680%);
  }
}

@media (max-width: 685px) {
  section .working-process .youtube .icon .icons i {
    -webkit-transform: translate(1190%, -680%);
            transform: translate(1190%, -680%);
  }
}

@media (max-width: 530px) {
  section .working-process .youtube .icon .icons i {
    -webkit-transform: translate(840%, -629%);
            transform: translate(840%, -629%);
  }
}

@media (max-width: 370px) {
  section .working-process .youtube .icon .icons i {
    -webkit-transform: translate(590%, -629%);
            transform: translate(590%, -629%);
  }
}

section .process {
  margin-top: -230px;
  position: absolute;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

section .process h2 {
  font-size: 40px;
  color: rgba(104, 104, 105, 0.46);
  text-transform: uppercase;
  letter-spacing: 5px;
}

@media (max-width: 900px) {
  section .process {
    display: none;
  }
}

section .services {
  background-image: url(../assets/images/background-services.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  padding: 50px 10px 50px 50px;
  margin-top: -4px;
  -webkit-animation: bounce 1.5s ease-in;
          animation: bounce 1.5s ease-in;
}

@-webkit-keyframes bounce {
  10% {
    -webkit-transform: translateY(350%);
            transform: translateY(350%);
  }
}

@keyframes bounce {
  10% {
    -webkit-transform: translateY(350%);
            transform: translateY(350%);
  }
}

@media (max-width: 950px) {
  section .services {
    display: block;
  }
}

@media (max-width: 900px) {
  section .services {
    padding: 50px;
  }
}

@media (max-width: 450px) {
  section .services {
    padding: 20px;
  }
}

@media (max-width: 330px) {
  section .services {
    padding: 5px;
  }
}

section .services .business-registration {
  margin-top: 18px;
}

section .services .business-registration ul {
  text-decoration: none;
  list-style: none;
}

section .services .business-registration ul li {
  text-transform: capitalize;
  color: #fff;
  background-color: #13233e;
  margin-bottom: 10px;
  padding: 10px;
}

section .services .business-registration ul li p {
  background-color: #fff;
  color: #000;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

section .services .registration .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 900px) {
  section .services .registration .cards {
    display: block;
  }
}

section .services .registration .cards .card {
  text-align: center;
  background-color: #fff;
  margin: 10px 5px;
  padding: 25px;
  border-radius: 10px;
}

section .services .registration .cards .card img {
  width: 70px;
  padding-bottom: 20px;
}

section .services .registration .cards .card h2 {
  padding-bottom: 20px;
  text-transform: capitalize;
}

section .services .registration .cards .card p {
  padding-bottom: 20px;
}

section .services .registration .cards .card button {
  background-color: #efa434;
  width: 200px;
  padding: 10px 30px;
  border: none;
  text-transform: capitalize;
  border-radius: 5px;
  font-weight: 700;
}

section .services .registration .cards .card button:hover {
  background: #13233e;
  color: #fff;
}

section .service {
  margin-top: -330px;
  position: absolute;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-animation: bounce 1.5s ease-in;
          animation: bounce 1.5s ease-in;
}

section .service h2 {
  font-size: 40px;
  color: rgba(104, 104, 105, 0.46);
  text-transform: uppercase;
  letter-spacing: 5px;
}

@keyframes bounce {
  10% {
    -webkit-transform: translateY(350%);
            transform: translateY(350%);
  }
}

@media (max-width: 950px) {
  section .service {
    margin-top: -550px;
  }
}

@media (max-width: 900px) {
  section .service {
    display: none;
  }
}

section .application {
  background-image: url(../assets/images/background-lap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

section .application .app-forms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  text-transform: capitalize;
  -webkit-animation: rubberband 1s;
          animation: rubberband 1s;
}

@-webkit-keyframes rubberband {
  75% {
    -webkit-transform: scale3d(-1.25, 0.75, 1);
            transform: scale3d(-1.25, 0.75, 1);
  }
}

@keyframes rubberband {
  75% {
    -webkit-transform: scale3d(-1.25, 0.75, 1);
            transform: scale3d(-1.25, 0.75, 1);
  }
}

@media (max-width: 900px) {
  section .application .app-forms {
    display: block;
  }
}

section .application .app-forms .forms:not(:last-of-type) {
  border-right: 1px solid #fff;
}

@media (max-width: 900px) {
  section .application .app-forms .forms:not(:last-of-type) {
    border-right: 0;
    border-bottom: 1px solid #fff;
  }
}

section .application .app-forms .forms {
  padding: 50px 20px;
}

section .application .app-forms .forms:hover {
  background-image: url(../assets/images/bg-approach.jpg);
  -webkit-box-shadow: 0 15px 250px 20px #15426d;
          box-shadow: 0 15px 250px 20px #15426d;
}

section .application .app-forms .forms .form {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #fff;
  text-align: center;
}

section .application .app-forms .forms .form img {
  width: 70px;
  margin-bottom: 20px;
}

section .application .app-forms .forms .form h4 {
  font-size: 25px;
}

@media (max-width: 900px) {
  section .application .app-forms .forms .form h4 {
    margin-bottom: 40px;
  }
}

section .app-corpiz {
  background-image: url(../assets/images/mobile-app-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 84px 40px;
  margin-top: 6rem;
  margin-left: 115px;
  width: 80%;
  max-height: 100vh;
  border-radius: 20px;
}

@media (max-width: 1050px) {
  section .app-corpiz {
    width: 90%;
    margin-left: 50px;
  }
}

@media (max-width: 950px) {
  section .app-corpiz {
    width: 95%;
    margin-left: 20px;
  }
}

@media (max-width: 700px) {
  section .app-corpiz {
    width: 97%;
    margin-left: 0;
    margin: 30px 10px;
  }
}

@media (max-width: 550px) {
  section .app-corpiz {
    padding: 50px 10px;
    margin-left: 5px;
  }
}

@media (max-width: 350px) {
  section .app-corpiz {
    padding: 10px;
  }
}

section .app-corpiz .corpiz {
  padding-right: 500px;
}

@media (max-width: 850px) {
  section .app-corpiz .corpiz {
    padding: 50px;
  }
}

@media (max-width: 650px) {
  section .app-corpiz .corpiz {
    padding: 50px 20px;
  }
}

section .app-corpiz .corpiz h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

section .app-corpiz .corpiz p {
  margin-bottom: 20px;
  line-height: 30px;
}

section .app-corpiz .corpiz img {
  width: 200px;
}

section .app-corpiz .app {
  position: absolute;
}

section .app-corpiz .app img {
  -webkit-transform: translate(135%, -82%);
          transform: translate(135%, -82%);
  width: 100%;
}

@media (max-width: 1450px) {
  section .app-corpiz .app img {
    -webkit-transform: translate(150%, -82%);
            transform: translate(150%, -82%);
  }
}

@media (max-width: 1350px) {
  section .app-corpiz .app img {
    -webkit-transform: translate(130%, -82%);
            transform: translate(130%, -82%);
  }
}

@media (max-width: 1250px) {
  section .app-corpiz .app img {
    -webkit-transform: translate(100%, -82%);
            transform: translate(100%, -82%);
  }
}

@media (max-width: 1120px) {
  section .app-corpiz .app img {
    -webkit-transform: translate(80%, -82%);
            transform: translate(80%, -82%);
  }
}

@media (max-width: 962px) {
  section .app-corpiz .app img {
    -webkit-transform: translate(80%, -93.5%);
            transform: translate(80%, -93.5%);
  }
}

@media (max-width: 952px) {
  section .app-corpiz .app img {
    -webkit-transform: translate(80%, -82.5%);
            transform: translate(80%, -82.5%);
  }
}

@media (max-width: 910px) {
  section .app-corpiz .app img {
    -webkit-transform: translate(80%, -93.5%);
            transform: translate(80%, -93.5%);
  }
}

@media (max-width: 850px) {
  section .app-corpiz .app img {
    display: none;
  }
}

@media (max-width: 1100px) {
  nav .header .navbar {
    display: none;
    position: fixed;
    right: 0;
    width: 70%;
    height: 100%;
    top: 0;
    background-color: #15426d;
    padding: 15px 0;
  }
  nav .header .navbar ul {
    display: block;
  }
  nav .header .navbar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
  }
  nav .header .navbar ul li a {
    color: #fff;
  }
  nav .header .navbar ul li a:hover {
    color: #efa434;
  }
  nav .header .navbar ul li i {
    color: #fff;
  }
  nav .header .navbar ul li .drop {
    width: 100%;
    position: relative;
    opacity: 1;
    left: 0;
    width: 100%;
  }
  nav .header .navbar ul li .drop .drop-down:hover {
    background: #efa434;
  }
  nav .header .navbar ul li .btn button {
    background-color: #efa434;
    margin-top: 20px;
  }
  nav .header .navbar ul li .btn button:hover {
    background: #e6e6e6;
    color: #000;
  }
  nav .header .close-nav-menu,
  nav .header .open-nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=subaa.css.map */