@import url(/Users/kowshikraj/Desktop/corpbiz/styles/mediaquery.css);
.button-basic, nav .header .navbar ul li .btn button {
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
  border: none;
  padding: 5px 25px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .header {
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 1000;
}

nav .header .logo img {
  width: 150px;
}

nav .header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  text-align: center;
}

nav .header .navbar ul li {
  position: relative;
  font-size: .9rem;
}

nav .header .navbar ul li:hover .drop {
  display: block;
}

nav .header .navbar ul li a {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  margin-right: 5px;
  text-transform: capitalize;
  color: #444444;
}

nav .header .navbar ul li a:hover {
  color: #15426d;
}

nav .header .navbar ul li i {
  vertical-align: 0.2em;
}

nav .header .navbar ul li .drop {
  display: none;
  line-height: 2.7;
  position: absolute;
  margin-top: 15px;
  background-color: #fff;
  width: 300px;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 2px 10px 0 #444444;
          box-shadow: 0 2px 10px 0 #444444;
  border-radius: 4px;
}

nav .header .navbar ul li .drop .drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 10px;
}

nav .header .navbar ul li .drop .drop-down:hover {
  background: #15426d;
  color: #fff;
}

nav .header .navbar ul li .drop .drop-down a {
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

nav .header .navbar ul li .drop .drop-down a:hover {
  color: #fff;
}

nav .header .navbar ul li .wrapper .button {
  display: inline-block;
  height: 35px;
  width: 35px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav .header .navbar ul li .wrapper .button .icon {
  display: inline-block;
  height: 10px;
  width: 25px;
  text-align: center;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 40px;
}

nav .header .navbar ul li .wrapper .button .icon i {
  color: #25d362;
  font-size: 20px;
  line-height: 35px;
}

nav .header .navbar ul li .wrapper .button .icon i.fa-solid.fa-phone {
  color: #000;
  font-size: 20px;
  line-height: 35px;
}

nav .header .navbar ul li .wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  vertical-align: 0.3rem;
  margin-left: 15px;
}

nav .header .navbar ul li .wrapper .button:hover {
  width: 200px;
}

nav .header .navbar ul li .btn button {
  color: #fff;
  background: #15426d;
}

nav .header .navbar ul li .btn button:hover {
  background: #efa434;
}

nav .header .open-nav-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  cursor: pointer;
  height: 34px;
  width: 40px;
  position: relative;
  justify-self: flex-end;
}

nav .header .open-nav-menu span {
  display: block;
  height: 3.5px;
  width: 30px;
  background-color: #000;
  position: relative;
  border-radius: 15px;
}

nav .header .open-nav-menu span:before, nav .header .open-nav-menu span:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 15px;
}

nav .header .open-nav-menu span:before {
  top: -7px;
}

nav .header .open-nav-menu span:after {
  top: 7px;
}

nav .header .close-nav-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 0 0 15px 15px;
}

nav .header .close-nav-menu i {
  font-size: 30px;
  color: #fff;
}

nav .header .close-nav-menu i:hover {
  color: #efa434;
}

nav .header.black {
  margin-top: -5px;
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
}

nav .icons #menu-btn {
  display: none;
}

section .search-play {
  background-image: url(../assets/images/background.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 3.5rem;
  background-size: 100% 90%;
  position: relative;
}

section .search-play .search-1 {
  position: absolute;
  border: 0.5px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.1em;
  padding: 0 1em;
  color: #9aaa97;
  width: 50%;
  margin-top: 60px;
  -webkit-transform: translate(55%, 50%);
          transform: translate(55%, 50%);
}

section .search-play .search-1 input {
  height: 40px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}

@media (max-width: 1100px) {
  nav .header .navbar {
    display: none;
    position: fixed;
    right: 0;
    width: 70%;
    height: 100%;
    top: 0;
    background-color: #15426d;
    padding: 15px 0;
  }
  nav .header .navbar ul {
    display: block;
  }
  nav .header .navbar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
  }
  nav .header .navbar ul li a {
    color: #fff;
  }
  nav .header .navbar ul li a:hover {
    color: #efa434;
  }
  nav .header .navbar ul li i {
    color: #fff;
  }
  nav .header .navbar ul li .drop {
    width: 100%;
    position: relative;
    opacity: 1;
    left: 0;
    width: 100%;
  }
  nav .header .navbar ul li .drop .drop-down:hover {
    background: #efa434;
  }
  nav .header .navbar ul li .btn button {
    background-color: #efa434;
    margin-top: 20px;
  }
  nav .header .navbar ul li .btn button:hover {
    background: #e6e6e6;
    color: #000;
  }
  nav .header .close-nav-menu,
  nav .header .open-nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=subaa.css.map */